#main_page_all_help {
width: 100%;
margin: auto;
font-family: Arial,serif, sans-serif, cursive;
font-size: 13px;
color: #000000;
}
#main_page_all_help ,
#main_page_all_help #page_content_no_menu_box {
width: auto;
}
#main_page_all_help .page_content {
}
div.link_foot {
width: 100%;
margin-left: -12px;
margin-top: 10px;
border-top: 1px solid #208EDE;
padding: 10px 12px;
font-size: 12px;
}
div.link_foot a {
margin: auto 10px;
}
div.link_foot a.left {
float:left;
}
div.link_foot a.right {
float:right;
}
#main_page_all_help #uiWait {
margin: 0 auto;
font-size: 16px;
width: 200px;
}
#main_page_all_help #uiOffline {
}
