#page_content_no_menu_box {
margin-right: 0;
margin-top: 0;
}
button.fwd_btn {
font-weight: bold;
}
div.logo_1und1 {
float: right;
background: url(/css/default/images/1und1.jpg) top right no-repeat;
height: 80px;
width: 80px;
}
